body{
    background-color:#ffd500;
    margin-left: 100px;
}
img{
    width: 250px;
    position: absolute;
    top: 170px;
    right: 10px;
}
h1{
    text-align: center;
    font-size: 3em;
    color: #800000;
    font-family: cooper;
    margin: 0;
}
hr{
    border-color: black;
    background-color: black;
}
ul li{
    display: inline-block;
    
    
}
ul{
    margin: 0;
    padding: 0;
}
a{
    color: blue;
}
div{
    margin-top: 100px;
}